.background{
  position:fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.quote{
  color: white;
  position: relative;
  font-size: 3.5rem;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

.title{
  color: white;
  position: relative;
  font-size: 7rem;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 70px 0;
}

.testButton{
  position: relative;
  border: none;
  color: gainsboro;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  background-color: #FAF7EC;
  border-radius: 15%;
}

.testButton:hover {
  background-color: #4CAF50;
  color: white;
}

* {
  font-family: 'Amatic SC', cursive;
}